# Python Django

# Test a Django project on multiple versions of Python.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- main

pool:
  name: Azure Pipelines
strategy:
  matrix:
    Python312:
      PYTHON_VERSION: '3.12'

  maxParallel: 3

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(PYTHON_VERSION)'
    architecture: 'x64'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install prerequisites'

- script: |
    python manage.py test
  displayName: 'Run tests'

- task: PublishTestResults@2
  inputs:
    testResultsFiles: '**/TEST-*.xml'
    testRunTitle: 'Python $(PYTHON_VERSION)'
  condition: succeededOrFailed()
- task: AzureWebApp@1
  inputs:
    azureSubscription: 'Azure for Students(12)(033e26f8-876d-4414-b6bc-673accd6b842)'
    appType: 'webAppLinux'
    appName: 'Relecloud-2526'
    package: '$(System.DefaultWorkingDirectory)/**/*.zip'


    